#spiner_wrapper {
	border-radius: 50%;
	/* height: 5rem; */
	/* width: 5rem; */
	position: relative;
	background-color: hsla(0, 3%, 32%, 0.171);
	animation: rotate-spiner-wrapper 5s linear 0s infinite both;
	height: var(--nav-spinner-h);
	width: var(--nav-spinner-h);
}

@keyframes rotate-spiner-wrapper {
	to {
		transform: rotate(360deg);
	}
}

.overlay_spinner_one {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	/* width: 1rem; */
	/* height: 4rem; */
	height: calc(var(--nav-spinner-h) - 2rem);
	width: calc(var(--nav-spinner-h) / 10);
	border: 3px solid rgba(105, 105, 105, 0.438);
	animation: overlay-spinner-vertical 0.5s linear 0s infinite both;
	border-radius: 50%;
}

.overlay_spinner_two {
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 5px solid rgba(105, 105, 105, 0.438);
	/* width: 4rem; */
	width: calc(var(--nav-spinner-h) - 2rem);
	/* height: 1rem; */
	height: calc(var(--nav-spinner-h) / 10);

	animation: overlay-spinner-horizontal 0.5s linear 0s infinite both;
}

@keyframes overlay-spinner-horizontal {
	0% {
		transform: rotate3d(0deg);
		border-width: calc(var(--nav-spinner-h) / 22);
		border-right-color: hsl(0, 3%, 41%);
	}

	40% {
		border-bottom-color: hsl(0, 1%, 72%);
	}

	80% {
		border-left-color: rgb(138, 137, 137);
	}

	100% {
		border-width: calc(var(--nav-spinner-h) / 22);
		border-top-color: rgb(138, 137, 137);
		transform: rotate3d(360deg);
	}
}

@keyframes overlay-spinner-vertical {
	0% {
		transform: rotate3d(-360deg);
		border-width: calc(var(--nav-spinner-h) / 22);
		border-right-color: hsl(0, 3%, 41%);
	}

	40% {
		border-bottom-color: hsl(0, 1%, 72%);
	}

	80% {
		border-left-color: rgb(138, 137, 137);
	}

	100% {
		border-width: calc(var(--nav-spinner-h) / 22);
		border-top-color: rgb(138, 137, 137);
		transform: rotate3d(0deg);
	}
}
