* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/*  */
	--padding: 0.5rem;
	--margin: 0.5rem;

	/*  */
	--h_f-height: 5rem;
	--m_a-hieght: calc(100vh - var(--h_f-height) * 2);
	--m-secs-height: var(--m_a-hieght);
	--a-secs-height: var(--m_a-hieght);

	/*  */
	--transition: all ease-out 0.3s;

	/*  */
	--bg-light: hsl(0, 0%, 11%);
	--bg-dark: hsl(0, 0%, 5%);
	--bg-img-colors: hsl(0, 0%, 5%), hsl(198, 94%, 6%), hsl(262, 48%, 9%);
	--h-bg: hsl(0, 0%, 6.5%);
	--f-bg: hsl(0, 3%, 6%);
	--h-img-colors: hsl(198, 94%, 6%), hsl(263, 64%, 6%);
	--f-img-colors: hsl(212, 36%, 9%), hsl(266, 38%, 8%);
	--ft-color-light: hsl(0, 2%, 82%);
	--ft-color-dark: hsl(0, 0%, 87%);
	--crd-ft-color: white;
	--accent: hsl(226, 60%, 50%);
	--brd-color: hsl(192, 40%, 60%);
	--btn-bg: hsla(0, 0%, 100%, 0);
	--btn-bg-hover: hsl(from var(--btn-bg) h s calc(l + 5));
	--m_a-bg-img-colors: hsla(198, 64%, 14%, 0.2), hsla(262, 48%, 9%, 0.3);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	/* font-family: monospace, Geneva, Verdana, sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
}

a {
	font-weight: 500;
	color: var(--ft-color);
	text-decoration: unset;
	&:hover {
		color: hsl(from var(--ft-color) h s calc(l - 5));
	}

	& span {
		pointer-events: none;
	}
}

svg {
	pointer-events: none;
}

button {
	cursor: pointer;
	display: inline-block;
	font-weight: 520;
	border: none;
	background-color: transparent;
	padding: var(--padding);
	border-radius: 0.3rem;
	transition: var(--btn-bg);

	&:hover {
		background-color: hsla(0, 0%, 14%, 0.322);
	}
}

#app {
	overflow-y: hidden;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--ft-color-dark);
	background-image: linear-gradient(to bottom, var(--bg-img-colors));
	background-color: var(--bg-dark);
}

.container {
	display: grid;
	grid-template-columns: 10rem 1fr;
	flex-grow: 1;
	overflow: hidden;
}

/* Header */
.header {
	padding: var(--padding);
	display: flex;
	justify-content: space-between;
	place-items: center;
	height: var(--h_f-height);
	background-color: var(--h-bg);
	color: var(--ft-color-light);
	background-image: linear-gradient(var(--h-img-colors));
}

.logo {
	display: flex;
	gap: 0;
	place-items: center;
	font-size: 1.5rem;
	font-weight: 700;
	/* padding: var(--padding); */
	font-family: "Courier New", Courier, monospace;

	& svg {
		transform: translate(8px, -5px);
	}
}

.search_form {
	position: relative;
}

.search_form svg:first-child {
	position: absolute;
	left: 0.8rem;
	top: 0.6rem;
	cursor: pointer;
}

.search_input {
	font-size: 0.9rem;
	width: 20rem;
	padding: 0.6rem 0.6rem 0.6rem 2.2rem;
	background-color: hsl(from var(--bg-light) h s calc(l + 5));
	border: 2px solid hsl(0, 0%, 29%);
	color: hsl(from var(--bg-light) h s calc(l -50));
	border-radius: 0.5rem;
	transition: var(--transition);

	&:focus,
	&:active {
		border: 2px solid var(--brd-color);
		outline: none;
	}
}

.header_signin_btn {
	/* border: 1px solid hsl(from var(--ft-color-light) h s calc(l - 50)); */
	color: var(--ft-color-light);
	margin-right: var(--margin);
	transition: all ease-in 0.2s;
	padding: 0;
	border: 1px solid var(--brd-color);

	&:hover {
		background-color: hsl(0, 0%, 19%);
		color: hsl(from var(--ft-color-dark) h s calc(l - 20));
	}

	& a {
		padding: var(--padding);
		display: inline-block;
	}
}

.header_signup_btn {
	background-color: var(--accent);
	color: var(--ft-color-light);
	margin-right: var(--margin);
	transition: all ease-in 0.2s;
	padding: 0;

	&:hover {
		background-color: hsl(from var(--accent) h s calc(l - 10));
		color: hsl(from var(--ft-color-light) h s calc(l - 10));
	}

	& a {
		padding: var(--padding);
		display: inline-block;
	}
}

/* Main */
.main {
	position: relative;
	background-color: var(--bg-light);
	background-image: linear-gradient(to bottom, var(--m_a-bg-img-colors));
	height: var(--m_a-hieght);
}

.main_sections {
	height: 0;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	transition: height 50ms linear;
	width: 100%;
}

.active_section {
	height: var(--m-secs-height);
	padding: var(--padding) 0;
	overflow-y: scroll;
	transform: scale(1);
}

.home_section {
	scrollbar-width: thin;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: baseline;
}

.music_card {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 0.5rem;
	height: fit-content;
	padding: var(--padding);
	transition: var(--transition);
	color: var(--crd-ft-color);

	& svg {
		fill: aliceblue;
	}
}

.music_list_card {
	grid-template-columns: auto auto 1fr auto;
}

.card_img_container {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	object-position: center;
	border-radius: 0.2rem;
	position: relative;
	transition: var(--transition);
}

.card_img_container div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: hsla(0, 0%, 0%, 0.5);
	z-index: 0;
	display: flex;
	place-content: center;
	place-items: center;
	transition: z-index 0.2s linear;
	border-radius: 0.3rem;

	& svg {
		fill: rgb(255, 255, 255);
	}
}

.card_img {
	width: 100%;
	height: 100%;
	z-index: 5;
	border-radius: 0.4rem;
	position: absolute;
	transition: var(--transition);
}

.card_music_details {
	padding: var(--padding);
}

.card_artist_name {
	font-size: 0.9rem;
}

.card_music_title {
	margin-top: 0.3rem;
	font-size: 0.8rem;
	color: hsl(from var(--crd-ft-color) h s calc(l -40));
}

.music_card_control {
	display: flex;
	gap: 0;
}

.card_download_btn,
.card_lick_btn {
	padding: var(--padding);
}

/* Aside */
.aside {
	overflow: hidden;
	height: calc(var(--m_a-hieght) - 1rem);
	position: relative;
	transition: var(--transition);
	display: grid;
	background-color: var(--bg-light);
	margin: var(--margin);
	border-radius: 0.5rem;
	font-weight: 800;
	background-image: linear-gradient(to left, var(--m_a-bg-img-colors));
	font-size: 0.9rem;
	box-shadow: 0px 0px 2px hsla(0, 0%, 100%, 0.2);
}

.nav_links {
	display: flex;
	place-items: center;
	gap: 1rem;
	padding: calc(var(--padding) + 0.3rem) var(--padding)
		calc(var(--padding) + 0.3rem) calc(var(--padding) + 0.5rem);
	/* place-self: center; */
}

.first_nav_link {
	border-top-right-radius: 0.57rem;
	border-top-left-radius: 0.57rem;
}

.nav_links:hover {
	background-color: hsl(from var(--bg-light) h s calc(l + 10));
}

.active_nav {
	background-color: hsl(from var(--bg-light) h s calc(l + 25));
}

/* Footer */
.footer {
	display: grid;
	grid-template-rows: auto 1fr;
	height: var(--h_f-height);
	/* background-color: var(--f-bg); */
	background-image: linear-gradient(var(--f-img-colors));
	color: var(--ft-color-dark);
	position: relative;
	font-size: 0.8rem;

	& svg {
		fill: white;
	}
}

.music_range_input {
	height: 0.2rem;
	accent-color: var(--accent);
}

.footer_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-content: center;
}

.music_data {
	display: grid;
	grid-template-columns: 3rem auto;
	gap: 0.5rem;
	align-items: center;
	padding: var(--padding);
}

.music_image_container {
	height: 3rem;
	width: 3rem;
}

.music_cover_caption {
	position: absolute;
	left: -1000px;
}

.music_image_cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 0.3rem;
}

.action_btns {
	display: flex;
	place-items: center;
	place-content: center;
}

.play_pause_btn {
	position: relative;
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	margin: 0 var(--margin);
	background-color: rgba(240, 248, 255, 0.055);
}

.music_controls {
	display: flex;
	justify-content: flex-end;
	margin: var(--margin);
}

.duration_container {
	place-content: center;
	margin: var(--margin);
	padding: var(--padding);
}

.overlay,
.extra_content,
.startup_screen {
	position: absolute;
	background-color: hsla(0, 0%, 0%, 0.219);
	width: 100vw;
	height: 100vh;
	padding: var(--padding);
	display: none;
	transition: var(--transition);
}

.show_overlay,
.show_extra_content,
.show_startup_screen {
	display: block;
}

.show_overlay {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	place-items: center;
	place-content: center;
	font-weight: 700;
	letter-spacing: 2px;
}

.overlay_spinner {
	border: 5px solid rgba(105, 105, 105, 0.329);
	width: 4rem;
	height: 4rem;
	animation: spin-overlay-spinner 0.5s linear 0s infinite both;
	border-radius: 50%;
}

.show_extra_content {
	background-color: hsl(0, 0%, 0%);
	color: aliceblue;
}

@keyframes spin-overlay-spinner {
	from {
		transform: rotate(0deg);
		border-width: 7px;
		border-right-color: rgb(255, 255, 255);
	}
	to {
		border-width: 7px;
		border-right-color: rgb(66, 66, 66);
		transform: rotate(360deg);
	}
}
