:root {
	--padding: 0.5rem;
	--margin: 0.5rem;

	--h_f-height: 7rem;
	--m_a-hieght: calc(100vh - var(--h_f-height) * 2);
	--m-secs-height: var(--m_a-hieght);
	--a-secs-height: var(--m_a-hieght);

	--transition: all ease-out 0.3s;

	--bg-light: hsl(0, 0%, 11%);
	--bg-dark: hsl(0, 0%, 5%);
	--bg-img-colors: hsl(0, 0%, 5%), hsl(198, 94%, 6%), hsl(262, 48%, 9%);
	--h-bg: hsl(0, 0%, 6.5%);
	--f-bg: hsl(0, 3%, 6%);
	--h-img-colors: hsl(198, 94%, 6%), hsl(263, 64%, 6%);
	--f-img-colors: hsl(212, 36%, 9%), hsl(266, 38%, 8%);
	--ft-color-light: hsl(0, 2%, 82%);
	--ft-color-dark: hsl(0, 0%, 87%);
	--crd-ft-color: white;
	--accent: hsl(226, 60%, 50%);
	--brd-color: hsl(192, 40%, 60%);
	--btn-bg: hsla(0, 0%, 100%, 0);
	--btn-bg-hover: hsl(from var(--btn-bg) h s calc(l + 5));
	--m_a-bg-img-colors: hsla(198, 64%, 14%, 0.4), hsla(262, 48%, 9%, 0.4);
	--f-bg-img-colors: hsla(198, 64%, 14%, 0.5), hsla(262, 35%, 22%, 0.5);

	--overlay-bg-img-colors: hsl(212, 36%, 9%), hsl(266, 38%, 8%);

	--ext-cnt-bg-img-colors: hsl(199, 32%, 12%), hsl(265, 23%, 10%);
}

@media screen and (min-width: 621px) and (max-width: 940px) {
	.container {
		display: grid;
		grid-template-columns: 10rem 1fr;
	}

	.home_section {
		/* scrollbar-width: thin;
		display: grid; */
		grid-template-columns: 1fr;
		/* align-content: baseline; */
	}
}

@media screen and (max-width: 620px) {
	:root {
		/*  */
		--padding: 0.5rem;
		--margin: 0.5rem;

		/*  */
		--h-height: 6.5rem;
		--f-height: 3.5rem;
		--mb-main-h: calc(100vh - var(--h-height) - var(--f-height));

		--m_a-hieght: calc(100vh - var(--h_f-height) * 2);
		--m-secs-height: var(--m_a-hieght);
		--a-secs-height: var(--m_a-hieght);
		--nav-spinner-h: 7rem;

		/*  */
		--transition: all ease-out 0.3s;
	}

	#app {
		display: grid;
		grid-template-rows: var(--h-height) 1fr var(--f-height);
	}

	.mobile_header {
		height: var(--h-height);
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(var(--bg-img-colors));
		color: var(--ft-color-light);
		padding: var(--padding);
	}

	.mobile_header_nav {
		display: flex;
		justify-content: space-between;
		align-content: center;
		place-items: center;
		margin: var(--margin) var(--margin) 0 var(--margin);
		/* flex-grow: 1; */
	}

	.mob_logo {
		font-size: 1.2rem;
		letter-spacing: 2px;
		margin: 0 var(--margin) 0 -1rem;
		& .h_music_icon {
			margin-left: 0.5rem;
			transform: translate(4px, -1px);
		}
	}

	.mob_list {
		display: flex;
		justify-content: space-between;
		gap: 0.8rem;
		list-style-type: none;
	}

	.logo_wrapper {
		padding-right: var(--padding);
	}

	.logo_wrapper,
	.mob_header_content {
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		margin: 0.3rem 0;
	}

	.mob_header_content {
		flex-flow: column nowrap;

		& h5 {
			margin-top: 0.6rem;
			font-size: 0, 9rem;
		}
	}

	.search_toggler {
		color: var(--ft-color-dark);
		box-shadow: 0px 0px 1px rgb(117, 117, 117);
		display: flex;
		flex-grow: 1;
		gap: 0.5rem;
		padding: 0.2rem var(--padding);

		& span {
			font-size: 0.8rem;
		}
	}

	.card_img_container {
		width: 3rem;
		height: 3rem;
		object-fit: cover;
		object-position: center;
		border-radius: 0.2rem;
	}

	.mobile_main {
		height: var(--mb-main-h);
		position: relative;
	}

	.main_sections {
		height: 0;
		scrollbar-width: thin;
	}

	.active_section {
		position: absolute;
		top: 0;
		height: calc(var(--mb-main-h) - 2.6rem);
		margin-bottom: 1.5rem;
	}

	.playing_banner {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: black;
		background-image: linear-gradient(
			to bottom,
			hsl(0, 3%, 17%),
			hsl(266, 5%, 28%)
		);
		color: white;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		align-content: center;
		place-items: center;
		z-index: 10;
		height: 2.6rem;
	}

	.playing_banner_music_photo {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		box-sizing: 0px 0px 9px rgba(252, 252, 252, 0.632);
		margin: 0.2rem var(--margin) 0 var(--margin);
	}

	.playing_banner_btns {
		padding-right: var(--padding);
	}

	.playing_banner_btns > button {
		padding: 0.2rem;
		border: none;
	}

	.playing_banner_btns > button:hover {
		background-color: #0000003d;
		fill: #242424;
	}

	.banner_music_img_caption {
		position: absolute;
		left: -1000px;
	}

	.home_section {
		grid-template-columns: 1fr;
	}

	.footer_nav_list {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		height: var(--f-height);
		background-image: linear-gradient(var(--f-bg-img-colors));
	}

	.footer_nav_list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		align-content: center;
		padding: var(--PADDING);
		flex-wrap: nowrap;
		list-style-type: none;
	}

	.nav_links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.3rem;
		width: 3rem;
		padding: 0.5rem 0;
		transition: var(--transition);
		font-size: max(0.9vw, 0.8rem);
		flex-wrap: nowrap;
		& span {
			font-size: 0.4rem;
		}
	}

	.nav_links:hover {
		background-color: hsla(0, 0%, 14%, 0.678);
		border-radius: 0.3rem;
	}

	.active_nav {
		border-radius: 0.3rem;
		background-color: hsla(0, 1%, 44%, 0.192);
	}
}

/*  */
/* --bg-light: hsl(0, 0%, 11%);
		--bg-dark: hsl(0, 0%, 5%);
		--bg-img-colors: hsl(0, 0%, 5%), hsl(198, 94%, 6%), hsl(262, 48%, 9%);
		--h-bg: hsl(0, 0%, 6.5%);
		--f-bg: hsl(0, 3%, 6%);
		--h-img-colors: hsl(198, 94%, 6%), hsl(263, 64%, 6%);
		--f-img-colors: hsl(212, 36%, 9%), hsl(266, 38%, 8%);
		--ft-color-light: hsl(0, 2%, 82%);
		--ft-color-dark: hsl(0, 0%, 87%);
		--crd-ft-color: white;
		--accent: hsl(226, 60%, 50%);
		--brd-color: hsl(192, 40%, 60%);
		--btn-bg: hsla(0, 0%, 100%, 0);
		--btn-bg-hover: hsl(from var(--btn-bg) h s calc(l + 5));
		--m_a-bg-img-colors: hsla(198, 64%, 14%, 0.4), hsla(262, 48%, 9%, 0.4);
		--f-bg-img-colors: hsla(198, 64%, 14%, 0.5), hsla(262, 35%, 22%, 0.5);

		--overlay-bg-img-colors: hsl(212, 36%, 9%), hsl(266, 38%, 8%);

		--ext-cnt-bg-img-colors: hsl(199, 32%, 12%), hsl(265, 23%, 10%); */

/* .app_details {
		transform: translateY(-10px);
		margin-left: 0.5rem;
		font-size: max(2vw, 0.9rem);
	}

	.app_details::after {
		content: "";
		width: 9rem;
	}

	.header_group {
		gap: 0.5rem;
	}

	.search_form > button {
		position: static;
	}

	.search_input {
		display: none;
	}

	.container {
		display: flex;
		flex-flow: column nowrap;
	}

	.mobile_search_section,
	.active_mobile_search_section,
	.settings_section {
		position: absolute;
	}

	.main {
		position: relative;
		height: var(--main-and-aside-hieght);
	}

	.aside {
		position: absolute;
		bottom: 0;
		width: 100%;
		overflow-y: unset;
		z-index: 20;
		height: 0;
	}

	.aside_content,
	.active_mobile_search_section {
		height: 0;
		width: 100%;
		overflow-y: hidden;
		position: absolute;
		bottom: 0;
		background-image: var(--aside-sections-bg);
		transition: var(--transition);
	}

	.aside_content {
		display: grid;
		grid-template-rows: auto 0.5fr auto auto auto;
		place-self: center;
	}

	.show_aside {
		height: 100vh;
		width: 100dvw;
	}

	.drop_aside_btn {
		visibility: visible;
	}

	.show_aside_content {
		height: 100%;
		overflow-y: scroll;
	}

	.show_aside_content {
		z-index: 20;
	}

	.music_image_cover {
		max-height: clamp(10rem, 40vh, 25rem);
	}
	.nav_links {
		width: 3rem;
		font-size: max(1vw, 0.5rem);
	} */
